html {
    scroll-behavior: smooth; 
  }

.body {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul, h1, h2, p, pre {
    margin: 0;
    padding: 0;
}

.header-content {
    height: 80px;
    background-color: rgba(245, 245, 245);
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 50px;
}

.nav {
    display: flex;
}

.nav-lists {
    list-style: none;
    display: flex;
    column-gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: rgb(105, 105, 105);
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}

.nav-link:hover {
    color: rgb(0, 0, 0);
    transition: 1s;
}

.profile-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.profile-content {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 0;
    border-bottom: 10px rgb(245, 245, 245) solid;
}

.photo {
    height: 40%;
    width: 25%;
}

.name {
    font-family: monospace;
    font-size: 50px;
    border-bottom: 3px rgb(105, 105, 105) solid;
    color: rgb(0, 0, 0);
    padding-bottom: 20px;    
}

.profile-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 35px;
}

.text {
    font-family: monospace;
    font-size: 25px;
    color: rgb(105, 105, 105);
}

.contacts-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contacts-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    border-bottom: 10px rgb(245, 245, 245) solid;
}

.section-heading {
    font-family: monospace;
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding-bottom: 25px;
}

.contacts-items {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.contact {
    display: flex;
    flex-direction: column;
    width: 140px;
    align-items: center;
}

.contacts-icon {
    width: 80px;
    height: 80px;
}

.contacts-link {
    font-family: monospace;
    font-size: 17px;
    color: rgb(105, 105, 105);
    text-decoration: none;
}

.contacts-link:hover {
    color: rgb(0, 0, 0);
    transition: 1s;
}

.summary-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.summary-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    border-bottom: 10px rgb(245, 245, 245) solid;
    align-items: center;
}

.summary-text {
    font-family: monospace;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: rgb(105, 105, 105);
}

.skills-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.skills-content {
    width: 90%;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 10px rgb(245, 245, 245) solid;
}

.skills-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.skills-item {
    font-size: 25px;
    font-family: monospace;
    color: rgb(105, 105, 105);
}

.code-courses-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.code-courses-content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 10px rgb(245, 245, 245) solid;  
}

.code-examples {
    width: 100%;
    display: flex;
    justify-content: center;
}

.code {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code-example {
    font-size: 17px;
    background-color: rgb(245, 245, 245);
    color: rgb(105, 105, 105);
}

.courses-text {
    font-size: 25px;
    color: rgb(105, 105, 105);
    font-family: monospace;
}

.projects-education-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.projects-education-content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 10px rgb(245, 245, 245) solid;
}

.ptojects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.projects-link {
    font-size: 25px;
    font-family: monospace;
    color: rgb(105, 105, 105);
    text-decoration: none;
    line-height: 35px;
}

.projects-link:hover {
    color: rgb(0, 0, 0);
    transition: 1s;
}

.education-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    row-gap: 30px;
}

.education-item {
    font-size: 20px;
    font-family: monospace;
    color: rgb(105, 105, 105);
    list-style: none;
}

.english-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.english-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
}

.english-level {
    font-size: 25px;
    font-family: monospace;
    color: rgb(105, 105, 105);
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    height: 80px;
}

.footer-content {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-year {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.footer-text {
    font-size: 25px;
    font-family: monospace;
    color: rgb(105, 105, 105);
}

.logo-link {
    width: 150px;
}
